


/* -----Hero-----*/


/*---------down-section*----------------*/
.down-section{
    padding-top: 101px;
    padding-bottom: 101px;
}
.ico-feature-list{
    display: flex;
    align-items: center;
    justify-content: center;
   
    background: var(--down-section);
    border-radius: 4px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}
.hiden-text{
    visibility: hidden;
    font-size: 0;
}
.feature-list{
    display: flex;
}
.feature-list .list{
    width: 270px;
    margin-right: 30px;

}
.feature-list .list:last-child{
    margin-right: 0px;
}
.section-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.section-paragraf{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--adress-color);
}
/*-------project-section------*/
.section-project{
    padding-bottom: 94px;
}
.section-projects-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    padding-top: 0;
    padding-bottom: 0;

}
.section-project-photo {
    display: flex;
}

.section-project-photo .list {
    margin-right: 30px;
    position: relative;
   
  
}
.project-text{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);;
    color: var(--page-color);
}
.section-project-photo .list:last-child {
    margin-right: 0;
}
.section-project-photo img{
    width: 100%;
    height: auto;
    display: block;
}
/*-------teem-part-------*/
.teem-part {
    background-color: var(--down-section);
    padding-bottom: 94px;
    padding-top: 94px;
}
.teem{
    display: flex;
   
}
.teem-part-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    
}

.teem-conteiner{
    margin-right: 30px;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--paragraf-color);
}
.teem-conteiner:last-child {
    margin-right: 0;
}
.teem img{
    width: 100%;
    height: auto;
    display: block;
}
.teem-part-text{
    padding-top: 30px;
    padding-bottom: 30px;
}
.teem-part-text ul{
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    justify-content: space-between;
   
}
.ico-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color  250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.ico-sm svg{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    

}
.ico-sm:hover,
.ico-sm:focus,
.ico-sm:hover svg,
.ico-sm:focus svg{
    border-color: var(--accent);
    background-color: var(--accent);
    fill: var(--page-color);
    
}
.teem-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.teem-profession{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--adress-color); 
}
/*--------regular-client-----*/

.regular-client{
    padding-top: 94px;
    padding-bottom: 94px;
}
.regular-client ul{
    display: flex;
    justify-content: space-between;
}
.regular-client-ico{
    fill: #AFB1B8; 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.regular-client-li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    fill: #AFB1B8;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.regular-client-li:focus .regular-client-ico,
.regular-client-li:hover .regular-client-ico,
.regular-client-li:hover,
.regular-client-li:focus
{
    border-color: #2196F3;
  
    fill: var(--accent);
}
/* -----Footer-----*/
.footer{
    color: var(--paragraf-color);
    background-color: var(--footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
}
.footer .conteiner{
    display: flex;
    align-items: baseline;

}
.logo-footer{
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--down-section);
    margin-bottom: 20px;
   
}
.footer-navigation{
    color: var(--adress-color);
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.adress-footer{
    font-style: normal;
    box-sizing: content-box;

}

.adress-footer .list{
 
    margin-bottom: 9px;
}

.adress-footer .list:last-child {

    margin-bottom: 0px;
}
.footer-link{
    margin-left: 70px;
}
.footer-link ul{
    display: block;
}
.footer-link-text{
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
.footer-link ul {
    width: 206px;
   
    display: flex;
    justify-content: space-between;

}

.ico-sm-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--page-color);
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    ;
    

}

.ico-sm-footer:hover,
.ico-sm-gooter:focus {
    border: 1px solid var(--accent);
    background-color: var(--accent);
    fill: var(--page-color);
    border-radius: 50%;
    width: 44px;
    height: 44px;
}

.subscribe{
    margin-left: auto;
}
.footer-input{
    height: 50px;
    width: 358px;
    background: transparent;
    padding: 15px 16px;
    margin-right: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.footer-button{
    position: relative;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    padding-right: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    cursor: pointer;

}


.footer-input-svg{
    position: absolute;
    display: inline-block;
    right: 22px;
    top: 50%;
    transform: translateY(-50%);
}

/* -----Portfolio-----*/
.portfolio-section {
    color: var(--page-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-portfolio{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--down-section);
    color: var(--main-text-color);
    cursor: pointer;
    padding: 6px 22px;
    border: 1px solid transparent;
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    ;
    
}
.button-portfolio:hover,
.button-portfolio:focus
{
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
    background-color: var(--accent);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-button{
    display: flex;
 
    margin-bottom: 34px;
    justify-content: center;
} 
.portfolio-button li{
    margin-right: 8px;
    
}
.portfolio-button li:last-child {
    margin-right: 0;
}
.portfolio-item{
    display: flex;
    flex-wrap: wrap;
  
}

.portfolio-item-li{
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    
    border-right: 1px solid var(--border-portgolio);
    border-left: 1px solid var(--border-portgolio);
    border-bottom: 1px solid var(--border-portgolio);
}
.text-decoratio-none {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;

    
}
.text-decoratio-none:hover,
.text-decoratio-none:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.text-decoratio-none:hover .text-top{
    transform: translateY(0%);
}

.wrap-text-portfolio{
   position: relative; 
   overflow: hidden;
}
.wrap-text-portfolio img{
    display: block;
}
.text-top{
    position: absolute;
    top: 0;
    padding: 63px 24px ;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    color: #ffffff;
    transform: translateY(101%);
    transition: transform 300ms;
}
.portfolio-item-text{
   
    padding: 20px 24px;
  
}
.portfolio-item-text .carts-title{
    margin-bottom: 4px;
 
}

.portfolio-item li:nth-child(3n+3){
    margin-right: 0;
}
.portfolio-item li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.carts-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    
}

.carts-description{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--adress-color);
    
}
/*-----------modal--------*/
.backdrop{
    position: fixed;
    transition: opacity 250ms, visibility 250ms;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal{
    position: relative;
   
    width: 528px;
    height: 581px;
    padding: 40px;
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.close-modal{
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 50%;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal:hover,
.close-modal:focus{
    fill: #2196F3;
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.modal-title{
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height:1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
}

.modal-description{
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.01em;  
    color: #757575;
    margin-bottom: 4px;
    
}
.modal-input{
    
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 32px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input:hover,
.modal-input:focus{
    border-color: #2196F3;
}

.modal-input:hover + .modal-svg,
.modal-input:focus + .modal-svg{
    fill: #2196F3;
}
.modal-description textarea{
    display: block;
    font-family: inherit;
    resize: none;
    padding: 12px 16px;
    height: 120px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    
}
.modal-input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);

}
.modal-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;   
    letter-spacing: 0.06em;
   
    color: #FFFFFF;
    border: 1px solid transparent;
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.modal-area-chb{
    display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
}
.modal-chb-text{
    font-size: 14px;
    line-height:1.71;
     
    letter-spacing: 0.03em;
    
    color: #757575;
}
.modal-link-to{
    margin-left: 3px;
    color: #2196F3;
}
.modal-input-wrap{
    position: relative;
    margin-bottom: 10px;
}
.modal-label-last{
    margin-bottom: 20px;
}
.chb{
    display: flex;
    position: relative;
}
.modal-svg{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chb::before{
    content: '';
    width: 16px;
    height: 15px;
    background-image: url(../images/icon/vector.svg);
}
.modal-input:checked + .chb::before{
    border: none;
    background-image: url(../images/icon/icon/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.check-text {
    font-size: 14px;
    color: #555555;
    display: flex;
    align-items: center;
    position: relative;
}

.check-text::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 3px;
    margin-right: 5px;
}

.input-check:checked+.check-text::before {
    background-color: var(--accent-color);
    border: none;
    background-image: url(../images/icon/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}