.head {
    display: flex;
    align-items: center;

}

.header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border-header);
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav-parts {
    margin-left: 93px;
    display: flex;
}

.main-nav-contact {
    display: flex;
    margin-left: auto;

}

.main-nav-contact .out-navigation {
    align-items: center;
    display: flex;
}

.logo {
    display: inline;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--just-blck);
    text-decoration: none;

}

.logo-studio-color {
    color: var(--accent);
}

.navigation {
    color: var(--nav-black);
    font-weight: 500;
    display: block;
    text-decoration: none;
    padding-bottom: 32px;
    padding-top: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.main-nav-parts li,
.main-nav-contact li {
    margin-right: 50px;
}

.main-nav-parts li:last-child,
.main-nav-contact li:last-child {
    margin-right: 0;
}

.navigation:hover,
.navigation:focus,
.out-navigation:hover,
.out-navigation:focus,
.footer-navigation:hover,
.footer-navigation:focus {
    color: var(--accent);
}

.out-navigation:hover .ico-contact,
.out-navigation:focus .ico-contact {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.current {
    color: var(--accent);
    position: relative;
}

.current::after {
    content: '';
    display: block;
    background-color: var(--accent);
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: 0;

}

.out-navigation {
    color: var(--adress-color);
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding-bottom: 32px;
    padding-top: 32px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.ico-contact {
    margin-right: 10px;
    align-items: center;
    fill: currentColor;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}